<%- include('layout') -%>

    <section>
        <h2>Añadir tarea</h2>
        <form action="/crear" method="POST">
            <input type="text" name="texto" placeholder="Escribe una tarea" required>
            <button type="submit">Guardar</button>
        </form>

        <h2>Tareas Guardadas</h2>
        <ul>
            <% tareas.forEach(tarea=> { %>
                <li>
                    <%= tarea.texto %> - <small>
                            <%= tarea.fecha %>
                        </small>
                </li>
                <% }); %>
        </ul>
    </section>